.facestream_checkbox_container{
   -moz-border-radius:3px 3px 3px 3px;
    border:1px solid #A1DCFA;
    background-color:#EBF7FF;
    color:#1FB3DD;
    font-size:12px;
    font-weight:bold;
    padding:3px 10px;
    text-decoration:none;
    vertical-align:bottom;
    width:120px;
    float:left;
    margin-right:5px;
}

.facebook_container{
  min-height:50px;
}

.facebook_container_image{
    float:left;
}

.facebook_container img{
    float:left;
    padding-right:10px;
    max-height:80px;
    max-width:80px;
}

.facebook_container_message{
    float:left;
    width:80%;
}

.facebook_container a{

}