/*
 * Youtube extention stylesheet
 */

.buddystream_activity_containeryoutube img{
    max-height      : 80px;
    float           : left;
    padding-right   : 10px;
    padding-bottom  : 10px;
}

.youtube_container_image img{
    max-height      : 80px;
    float           : left;
    padding-right   : 10px;
    padding-bottom  : 10px;
}

.buddystream_album
{   
    text-indent     : -9999999px;
}

.buddystream_album img{
    position: relative;
    float           : left;
    padding         : 0px;
    margin-right    : 10px;
    margin-bottom   : 10px;
    border          : 1px solid #cecece;
    height          : 60px;
}

.buddystream_album_navigation{
    position        : relative;
    float           : left;
    width           : 100%;
    height          : 20px;
    margin-bottom   : 10px;
    margin-top      : 10px;
}

.buddystream_album_hoverbox{
    position                : absolute;
    display                 : none;
    background-color        : #d4d4d4;
    width                   : 300px;
    min-height                  : 130px;
    font-size               : 12px;
    color                   : #515151;
    padding                 : 15px;
    overflow                : hidden;
    text-shadow             : 0px 0px 0px;
    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    border-radius           : 5px;
    box-shadow              : 1px 1px 2px #515151;
    -moz-box-shadow         : 1px 1px 2px #515151;
    z-index                 :9999;
    
    ackground-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.32, rgb(235,235,235)),
    color-stop(0.66, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(235,235,235) 32%,
        rgb(255,255,255) 66%
    );
}

.buddystream_activity_container.youtube img{
  margin-right      : 10px;
  margin-bottom      : 10px;
  border            : 1px solid #cecece;
  float             : left;
  display           : inline-block;
  height            : 80px;
}