/*
Twitter extention stylesheet
*/

.twitter_hoverbox{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px 10px 15px;
    position: absolute;
    width: 200px; 
    z-index: 20;
    display:none;
}


.twitter_share_button
{
    float                   : left;
    background              : url('share.png');
    height                  : 35px;
    width                   : 35px;
    margin-right            : 5px;
    cursor                  : pointer;
}

.twitter_share_counterbox{
    position:relative;
    display: none;
    height:0px;
  
}

.twitter_share_counter{
    position                : relative;
    background              : url('../default/counter_background.png');
    letter-spacing          : 11px;
    width                   : 64px;
    height                  : 26px;
    float                   : left;
    font-size               : 22px;
    padding-left            : 7px;
    padding-top             : 5px;
    margin-top              : 4px;
    margin-right            : 10px;
    font-weight             : bold;
    color                   : #515151;
}

.twitter_share_counter_red{
    color        :red;
}